<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-sm-10">
      <hr />
      <h3>Found Locations</h3>
      <table id="locationsTable" class="table table-striped" style="width: 100%">
        <thead>
          <tr>
            <th>Location</th>
            <th>House</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Postcode</th>
            <th>Region</th>
            <th>Actions</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
