<div class="modal fade" id="editLocationModal" tabindex="-1" aria-labelledby="editLocationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editLocationModalLabel">Edit Location</h5>
        </div>
        <div class="modal-body">
          <input type="hidden" id="editId" />
          <div class="form-group">
            <label>Location:</label>
            <input type="text" id="editLocation" class="form-control" />
          </div>
          <div class="form-group">
            <label>Address:</label>
            <input type="text" id="editAddress" class="form-control" />
          </div>
          <div class="form-group">
            <label>House Number:</label>
            <input type="text" id="edithouse" class="form-control" />
          </div>
          <div class="form-group">
            <label>Street:</label>
            <input type="text" id="editStreet" class="form-control" />
          </div>
          <div class="form-group">
            <label>City:</label>
            <input type="text" id="editCity" class="form-control" />
          </div>
          <div class="form-group">
            <label>State:</label>
            <input type="text" id="editState" class="form-control" />
          </div>
          <div class="form-group">
            <label>Postcode:</label>
            <input type="text" id="editPostcode" class="form-control" />
          </div>
          <div class="form-group">
            <label>Region:</label>
            <input type="text" id="editRegion" class="form-control" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="saveEditBtn" class="btn btn-primary">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  